  .link {
    color: #bb86fc;
    text-decoration: none;
    font-family: var(--font-orbitron);
  }
  button {
    background: transparent; 
    background-size: auto;
    border: none; 
  }

  span {
    font-family: var(--font-orbitron);
    font-size: 5.5rem;
  }