/* this is the css file for the index component */
.list {
  display: grid;
  margin: 0;
  list-style-type: none; /* This removes bullets from the list */
  padding-left: 0; /* Removes default padding on the list */
  /* Responsive layout styles */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 2em;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}

.moreLinks {
  text-align: center; /* Center the text horizontally */
  margin: 20 auto; /* Add margin for spacing */
  display: flex;
  justify-content: center; /* Center the content inside */
  flex-wrap: wrap; /* Allow links to wrap if they overflow */
  gap: 10; /* Add some space between the links */
}


.general {
  color: var(--color-text);
  font-size: 20;
  /* font-weight: bold;  */
  margin-bottom: 0;
  margin-top: var (--space-1);
}

.monogram {
  color: var(--color-text);
  font-size: 5em;
  font-weight: bold; 
  font-style: var(--font-primary);
  margin-bottom: 0;
  margin-top: var (--space-1 );
  
}